/* configurações Padrão */
@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@400;500;700&display=swap');
*{
    font-family: 'Merriweather Sans', sans-serif;
}
:root {
    --body-bg-color: #22212C;
    --text-color: #837E9F;
    --bg-cards: #302F3D;
    --bg-techs: #CB92B1;
    --bg-photo: #00FF00;
}
body{
    border: 1px solid red;
    background: var(--body-bg-color);    
    margin: 2em auto;
    width: 1250px;
    display: flex;
    gap: .6rem;
}
main{
    flex-basis: 25%;
}
aside{
    flex: 1;
}
.card{
    background-color: var(--bg-cards);
    border-radius: 20px;
    margin-bottom: 10px;
}
a{
    text-decoration: none;
    color: var(--text-color);
}
h2, h5, p{
    color: var(--text-color);
}
/* Fim das configurações Padrão */
.photo{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 0;
}
#bg{
    border: 2px solid var(--bg-photo);
    width: 120px;
    height: 120px;
    border-radius: 100%;
}
#bg img{
    border-radius: 100%;
    width: 119px;
}
.photo>h2{
    font-size: 1.2em;
    margin-top: 20px;
}
.photo>h5{
    margin-top: -15px;
    font-size: .6em;
}
.profile{
    padding: 20px 0;
}
.info{
    margin: 0 20px;
    padding: 5px 0;
    display: flex;
    gap: 1rem;
}
.info>svg{
    fill: var(--text-color);
    height: 18px;
    width: 18px;
}
.info>a{
    font-size: 9pt;
}
#topskill>h2{
    margin: 5px;
    padding: 15px;
}
.skills{
    background-color: var(--bg-techs);
    width: 85px;
    height: 20px;
    font-size: .7em;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 9px;
}
#masterskills{
    display: flex;
    flex-wrap: wrap;
    gap: .8rem;
    margin: 0 13px;
    padding-bottom: 30px;
}
.fixedbox{
    display: flex;
    flex-wrap: wrap;
    gap: .8rem;
    margin-bottom: 40px;
}
.fixedbox div:nth-child(1){
    display: flex;
    flex-basis: 100%;
    justify-content: space-between;
    padding: 0 20px;
}
.fixedbox div:nth-child(2),
.fixedbox div:nth-child(3){
    flex: 1;
    height: 100px;
    margin-top: -8px;
}
.fixedbox h2{
    font-size: 1rem;
}
.fixedbox a{
    display: flex;
    align-items: center;
    font-size: .6rem;
    padding-right: 30px;
}